body{
	font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	background-image: linear-gradient(to bottom, rgba(53,129,174,0.9), rgba(243,243,224,0.7)), url('../img/background.jpg');
	height:100%;
	width:100%;
	background-size:auto 100%;
        background-attachment:fixed, fixed;
}

div{
    margin: 0 25px;
	position:relative;
	background-color:white;
	box-shadow: 0 0 5px rgba(0,0,0,0.8);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.8);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.8);
	-o-box-shadow: 0 0 5px rgba(0,0,0,0.8);
	border-radius:25px;
}

#timetable, #patrons{
	padding:25px 0;	
}

#patrons{
	text-align:center;
}
	

#patrons img{
	display:inline-block;
	margin: 0 auto;
	padding-right:15px;
	position:relative;
	vertical-align:middle;
}

.l1{
	width: calc(50% - 30px);
}

.l2{
	width: calc(50% - 30px);
	border-right: 5px dotted gray;
}

.none{
	border-right: none !important;
}

.l3, .l4{
	width: calc(20% - 30px);
}

hr{
  border-top: 1px dashed gray;
  border-bottom: 1px dashed gray;
}

table {
    margin: 0 auto;
	border-radius:25px;
	background-color:#FBF7F4;
	width:90%;
}

p{
	font-weight:200;	
}

table th:first-of-type{
	width:100px;
}

table th:nth-of-type(2n){
	width:calc(100% - 150px);
	padding-left:15px;
	text-align:left;
}

table tr:nth-of-type(2n){
	background-color:#F7EEE9;
}

table th{
	height:85px;
	max-height:85px;
	display:inline-block;
	background-size: cover;
	background-repeat:no-repeat;
}

table tr img{
	width:100%;
	height:100%;
}

table tr:first-of-type th{ 
  border-radius: 15px 0 0 0;
}

table tr:last-of-type th{ 
  border-radius: 0 0 0 15px;
}

h1{
	text-align:center;
	background-color:white;
	border-radius:25px;
}

.time{
	color: #00B8F1;
}
